In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
#import numpy as np

import wbgapi as wb
import plotly.express as px

gapminder = px.data.gapminder()

# import seaborn as sns
# import matplotlib.pyplot as plt


# import itertools
# from scipy import stats
# from sklearn import metrics

# from sklearn.tree import DecisionTreeClassifier, plot_tree
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.linear_model import LogisticRegression

# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import MinMaxScaler

In [22]:
df = pd.read_csv('gapminder.csv')

df = df[['geo','children_per_woman_total_fertility',  
         'number_of_child_deaths', 
                        'surviving_kids_per_woman', 
                        'dead_kids_per_woman',
                        'income_per_person_long_series',
                        'life_expectancy_female',
                        'life_expectancy_male',
                        'life_expectancy_years',
                        'gdp_per_capita_yearly_growth',
                        'gdp_total_yearly_growth',
                        'crude_birth_rate_births_per_1000_population',
                        'crude_death_rate_deaths_per_1000_population',
                        'child_mortality_0_5_year_olds_dying_per_1000_born',
                        'children_per_woman_total_fertility_with_projections' ]].to_csv('gapminder_lite.csv', index = False)

In [35]:
df = pd.read_csv('gapminder_lite.csv')

df.head()

,geo,children_per_woman_total_fertility,number_of_child_deaths,surviving_kids_per_woman,dead_kids_per_woman,income_per_person_long_series,life_expectancy_female,life_expectancy_male,life_expectancy_years,gdp_per_capita_yearly_growth,gdp_total_yearly_growth,crude_birth_rate_births_per_1000_population,crude_death_rate_deaths_per_1000_population,child_mortality_0_5_year_olds_dying_per_1000_born,children_per_woman_total_fertility_with_projections
0,afg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,afg,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.21,NaN,NaN,48.14,NaN,468.58,7.001
2,afg,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.20,0.0,0.0,48.14,NaN,468.58,7.001
3,afg,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.19,0.0,0.0,48.14,NaN,468.58,7.001
4,afg,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.18,0.0,0.0,48.14,NaN,468.58,7.001

In [43]:
df.geo.nunique()

264

In [36]:
df.isna().sum()

geo                                                        0
children_per_woman_total_fertility                     35076
number_of_child_deaths                                 38703
surviving_kids_per_woman                               45679
dead_kids_per_woman                                    45872
income_per_person_long_series                          29094
life_expectancy_female                                 49309
life_expectancy_male                                   49309
life_expectancy_years                                  34939
gdp_per_capita_yearly_growth                           31562
gdp_total_yearly_growth                                32670
crude_birth_rate_births_per_1000_population            35959
crude_death_rate_deaths_per_1000_population            49309
child_mortality_0_5_year_olds_dying_per_1000_born      37448
children_per_woman_total_fertility_with_projections    32851
dtype: int64

In [37]:
# What's the percentage of nulls?
df.isna().mean()

geo                                                    0.000000
children_per_woman_total_fertility                     0.442270
number_of_child_deaths                                 0.488003
surviving_kids_per_woman                               0.575962
dead_kids_per_woman                                    0.578396
income_per_person_long_series                          0.366844
life_expectancy_female                                 0.621733
life_expectancy_male                                   0.621733
life_expectancy_years                                  0.440543
gdp_per_capita_yearly_growth                           0.397962
gdp_total_yearly_growth                                0.411933
crude_birth_rate_births_per_1000_population            0.453404
crude_death_rate_deaths_per_1000_population            0.621733
child_mortality_0_5_year_olds_dying_per_1000_born      0.472178
children_per_woman_total_fertility_with_projections    0.414215
dtype: float64

In [38]:
#change to uppercase
df['geo'] = df.geo.str.upper()

df = df.rename(columns = {'children_per_woman_total_fertility': 'fertiity',
                         'number_of_child_deaths':'child_deaths',
                         'surviving_kids_per_woman': 'child_survival_pf',
                          'dead_kids_per_woman': 'child_deaths_pw',
                          'income_per_person_long_series': 'income_pp',
                          'life_expectancy_female': 'life_exp_f',
                          'life_expectancy_male': 'life_exp_m',
                          'life_expectancy_years': 'life_exp_yrs',
                          'crude_birth_rate_births_per_1000_population': 'birth_rate_per_1000_crude',
                          'crude_death_rate_deaths_per_1000_population': 'death_rate_per_1000_crude',
                          'child_mortality_0_5_year_olds_dying_per_1000_born': 'child_deaths_0_5_yr_per_1000',
                          'children_per_woman_total_fertility_with_projections': 'projected_fertility_pf'
                         })

df.head()

,geo,fertiity,child_deaths,child_survival_pf,child_deaths_pw,income_pp,life_exp_f,life_exp_m,life_exp_yrs,gdp_per_capita_yearly_growth,gdp_total_yearly_growth,birth_rate_per_1000_crude,death_rate_per_1000_crude,child_deaths_0_5_yr_per_1000,projected_fertility_pf
0,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.21,NaN,NaN,48.14,NaN,468.58,7.001
2,AFG,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.20,0.0,0.0,48.14,NaN,468.58,7.001
3,AFG,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.19,0.0,0.0,48.14,NaN,468.58,7.001
4,AFG,7.0,73980.0,NaN,NaN,634.4,NaN,NaN,28.18,0.0,0.0,48.14,NaN,468.58,7.001

In [39]:
gapminder = gapminder.rename(columns = {'iso_alpha': 'geo', 
                                        'lifeExp': 'life_exp', 
                                        'gdpPercap': 'gdp_per_cap',
                                        'pop': 'population'
                                        })

In [28]:
gapminder.isna().sum()

country        0
continent      0
year           0
life_exp       0
population     0
gdp_per_cap    0
geo            0
iso_num        0
dtype: int64

In [32]:
gapminder.shape

(1704, 8)

In [33]:
df.shape

(79309, 15)

In [41]:
df.geo.unique()

array(['AFG', 'AGO', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL',
       'BEN', 'BFA', 'BGD', 'BGR', 'BHS', 'BLR', 'BLZ', 'BOL', 'BRA',
       'BRB', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV',
       'CMR', 'COG', 'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CZE', 'DEU',
       'DJI', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST',
       'ETH', 'FIN', 'FJI', 'FRA', 'GAB', 'GBR', 'GEO', 'GHA', 'GIN',
       'GMB', 'GNB', 'GNQ', 'GRC', 'GTM', 'GUY', 'HND', 'HRV', 'HTI',
       'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'ISL', 'ISR', 'ITA', 'JAM',
       'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KOR', 'LAO', 'LBN', 'LBR',
       'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAR', 'MDA', 'MDG', 'MDV',
       'MEX', 'MLI', 'MLT', 'MMR', 'MNG', 'MOZ', 'MRT', 'MUS', 'MWI',
       'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NZL',
       'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PNG', 'POL', 'PRT', 'PRY',
       'QAT', 'ROU', 'RUS', 'RWA', 'SDN', 'SEN', 'SGP', 'SLE', 'SLV',
       'SOM', 'SRB', 'SSD', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ',
       'TCD', 'TGO', 'THA', 'TJK', 'TTO', 'TUN', 'TUR', 'TZA', 'UGA',
       'UKR', 'URY', 'USA', 'UZB', 'VEN', 'VNM', 'YEM', 'ZAF', 'ZMB',
       'ZWE', 'ALB', 'ANT', 'ARE', 'BHR', 'BRN', 'COD', 'CYP', 'ESH',
       'GLP', 'GUF', 'GUM', 'HKG', 'IRQ', 'JOR', 'KWT', 'LBY', 'LCA',
       'MKD', 'MNE', 'MTQ', 'NCL', 'PRI', 'PSE', 'PYF', 'REU', 'SAU',
       'SLB', 'SYR', 'TKM', 'TON', 'TWN', 'VCT', 'VIR', 'VUT', 'WSM',
       'BIH', 'CHANISL', 'MAC', 'PRK', 'TLS', 'ABW', 'AIA', 'ASM', 'ATG',
       'BMU', 'COK', 'CYM', 'DMA', 'FLK', 'GBM', 'GRD', 'KIR', 'KNA',
       'KOS', 'MCO', 'MHL', 'MNP', 'NIU', 'NLD_CURACAO', 'NRU', 'PLW',
       'SHN', 'SMR', 'SYC', 'VGB', 'FRO', 'GBG', 'GIB', 'GRL', 'JEY',
       'LIE', 'MSR', 'SCG', 'SPM', 'TCA', 'TUV', 'WLF', 'AND', 'FSM',
       'TKL', 'SXM', 'ABKH', 'AKR_A_DHE', 'ALA', 'CCK', 'CHESLO', 'CXR',
       'CYP_NOR', 'DEU_EAST', 'DEU_WEST', 'ERI_A_ETH', 'HOS', 'MYT',
       'NFK', 'NGOKAR', 'PCN', 'SCG_EX_KOS', 'SJM', 'SOM_SOMLAND',
       'SOSSET', 'STBAR', 'STMAR', 'TRANSN', 'USSR', 'YEM_NORTH',
       'YEM_SOUTH', 'YUG', 'KOREA_UNION', 'MAF', 'WORLD'], dtype=object)

In [42]:
gapminder.geo.unique()

array(['AFG', 'ALB', 'DZA', 'AGO', 'ARG', 'AUS', 'AUT', 'BHR', 'BGD',
       'BEL', 'BEN', 'BOL', 'BIH', 'BWA', 'BRA', 'BGR', 'BFA', 'BDI',
       'KHM', 'CMR', 'CAN', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM',
       'COD', 'COG', 'CRI', 'CIV', 'HRV', 'CUB', 'CZE', 'DNK', 'DJI',
       'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'ETH', 'FIN', 'FRA',
       'GAB', 'GMB', 'DEU', 'GHA', 'GRC', 'GTM', 'GIN', 'GNB', 'HTI',
       'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL',
       'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KEN', 'KOR', 'KWT', 'LBN',
       'LSO', 'LBR', 'LBY', 'MDG', 'MWI', 'MYS', 'MLI', 'MRT', 'MUS',
       'MEX', 'MNG', 'MNE', 'MAR', 'MOZ', 'MMR', 'NAM', 'NPL', 'NLD',
       'NZL', 'NIC', 'NER', 'NGA', 'NOR', 'OMN', 'PAK', 'PAN', 'PRY',
       'PER', 'PHL', 'POL', 'PRT', 'PRI', 'REU', 'ROU', 'RWA', 'STP',
       'SAU', 'SEN', 'SRB', 'SLE', 'SGP', 'SVK', 'SVN', 'SOM', 'ZAF',
       'ESP', 'LKA', 'SDN', 'SWZ', 'SWE', 'CHE', 'SYR', 'TWN', 'TZA',
       'THA', 'TGO', 'TTO', 'TUN', 'TUR', 'UGA', 'GBR', 'USA', 'URY',
       'VEN', 'VNM', 'PSE', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [40]:
gapminder.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [31]:
#merge
df2 = pd.merge(df, gapminder, how = 'inner', on = 'geo')

df2.isna().sum()

AttributeError: module 'pandas' has no attribute 'join'

In [21]:
df = pd.merge(df, gapminder, how = 'inner', on = 'geo')

df.head()

,geo,fertiity_pf,child_deaths,child_survival_pf,child_deaths_pw,income_pp,life_exp_f,life_exp_m,life_exp_yrs,gdp_per_capita_yearly_growth,...,death_rate_per_1000_crude,child_deaths_0_5_yr_per_1000,projected_fertility_pf,country,continent,year,life_exp,population,gdp_per_cap,iso_num
0,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1952,28.801,8425333,779.445314,4
1,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1957,30.332,9240934,820.853030,4
2,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1962,31.997,10267083,853.100710,4
3,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1967,34.020,11537966,836.197138,4
4,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1972,36.088,13079460,739.981106,4

In [15]:
#exclude rows w/ N.Korea
df = df[df.country != 'Korea, Dem. Rep.']

In [16]:
df.head()

,geo,fertiity_pf,child_deaths,child_survival_pf,child_deaths_pw,income_pp,life_exp_f,life_exp_m,life_exp_yrs,life_expectancy_at_birth_with_projections,...,death_rate_per_1000_crude,child_deaths_0_5_yr_per_1000,projected_fertility_pf,country,continent,year,life_exp,population,gdp_per_cap,iso_num
0,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1952,28.801,8425333,779.445314,4
1,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1957,30.332,9240934,820.853030,4
2,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1962,31.997,10267083,853.100710,4
3,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1967,34.020,11537966,836.197138,4
4,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Afghanistan,Asia,1972,36.088,13079460,739.981106,4

In [ ]:
df['fertility'] = (df.groupby(['country'], 
                              dropna = False)
                   ['fertility'].apply(lambda x: x.fillna(x.median()))
                  )

In [ ]:
wb.economy.DataFrame()

In [ ]:
#select incomeLevel
income_level = wb.economy.DataFrame()['incomeLevel']

#select country
country = wb.economy.DataFrame()['name']

#turn income into df and join country
income_level = pd.DataFrame(income_level).join(country)

#reset index
income_level = income_level.reset_index()

#rename columns
income_level.rename(columns = {'id': 'geo', 'incomeLevel': 'income_level', 'name' : 'country'}, inplace = True)


income_level